# igonre all .* files except .gitignore
.*
!.gitignore
*.tex
*.vim
*.png
!utxo-model-flavors-handbook/excalidraw/high-level-blockchain.png
!utxo-model-flavors-handbook/excalidraw/simple-blockchain.png
*.svg

# Ignore large excalidraw storyboards for now
utxo-model-flavors-handbook/excalidraw/storyboard-utxo-model.excalidraw
utxo-model-flavors-handbook/excalidraw/utxo-model.excalidraw

# Ignore LaTeX docs
latex/
test-v2/
